{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Page Template</title>
        <!-- <script type="text/javascript" src="d3/d3.js"></script> -->
    </head>
    <body>
   <!-- <script type="text/javascript">
            // Your beautiful D3 code will go here
        </script> -->
        <div class="wrapper">
            <div class="1">one</div> <!--
            <div class="2">two</div>
            <div class="3">three</div>
            <div class="4">four</div>
            <div class="5">five</div>
            <div class="6">six</div> -->
        </div><br>

        <a href="http://localhost:8000/events_list/">Events 
    </body>
</html>
