{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        {% block title %}<title>Page Template</title>{% endblock %}
        <!-- <script type="text/javascript" src="d3/d3.js"></script> -->
    </head>
    <body>
   <!-- <script type="text/javascript">
            // Your beautiful D3 code will go here
        </script> -->
        <div class="wrapper">
            <ul> <!--
                <li class=""><a href="">Button Name</a></li>
                <li class=""><a href="">Button Name</a></li>
                <li class=""><a href="">Button Name</a></li> -->
                <li><a href={% url 'gcal:events_list' %}>Events List</a>
            </ul>
        </div><br>
    </body>
</html>
